<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c36af158-5d74-48f3-9eb6-5bfe1c1855dc/resourceGroups/TesteApis/providers/Microsoft.Web/sites/desafioblip</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://desafioblip-a5hzh4gudxgreqaf.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>75f92fc3-4aba-4462-be18-62ba80ce9c73</ProjectGuid>
    <PublishUrl>https://desafioblip-a5hzh4gudxgreqaf.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <UserName>$desafioblip</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>